.type-864 body {
  background-color: #eeeeee;
}
.type-864 .gedf-wrapper {
  margin-top: 0.97rem;
}
@media (min-width: 992px) {
  .type-864 .gedf-main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .type-864 .gedf-card {
    margin-bottom: 2.77rem;
  }
}
.type-864 .gedf {
  height: 207px;
}
.type-864 .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: .25rem;
}
.type-864 .card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0.03);
  border-bottom: 1px rgba(0,0,0,0.125);
}
.type-864 .card-link {
  text-decoration: none !important;
}
.type-864 .dropdown-item {
  text-decoration: none !important;
}
.type-864 .card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.type-864 .card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0,0,0,0.03);
  border-top: 1px solid rgba(0,0,0,0.125);
}
.type-864 .rounded-circle {
  border-radius: 50% !important;
}
.type-864 .dropdown-toggle::after {
  content: none;
  display: none;
}
